body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}
.buttons-block{
display: flex;
gap: 10px;
}
@media (max-width: 400px) {
  .buttons-block {
    flex-direction: column;
  }
}


button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    height: 40px;
    width: 120px;
    min-width: 120px;
}
#delete-btn{
    background: white;
    color: #5f9341;
    border: 1px solid #5f9341 ;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
li a{
    color: #5f9341;
}
li {
    font-weight: bold;
    margin-top: 10px;
}